{% extends "main/base.html" %}
{% block content %}
    <div class="row" style="padding: 10px 10px 10px 10px">
        {% if films_list %}
    
        {% for filme in films_list %}
            <div class="card" style="width:18rem; margin: 10px 10px 10px 10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ filme.title }}</h5>
                    <p class="card-text">{{ filme.opening_crawl|slice:"0:40"}}...</p>
                    <a href="#" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
           
        {% endfor %}
        {% endif %}
    
    </div>
    
{% endblock content %}
